fe.nagi.fan {
  encode gzip

  @backend {
    path_regexp ^/(api|nodeinfo|instance|socket|oauth|favicon.)(.*)
  }

  handle @backend {
    reverse_proxy https://pl.nagi.fan {
      header_up Host pl.nagi.fan
      header_up Origin https://pl.nagi.fan
      header_up X-Forwarded-Host pl.nagi.fan
      header_up X-Forwarded-Port 443
      header_up X-Forwarded-Proto https
    }
    
  }

  handle {
    root * /srv/pl.nagi.fan/pleroma-fe
    try_files {path} /index.html
    file_server
  }
}

fe.wakuwakup.net {
  encode gzip

  @backend {
    path_regexp ^/(api|nodeinfo|instance|socket|oauth|favicon.)(.*)
  }

  handle @backend {
    reverse_proxy https://pleroma.wakuwakup.net {
      header_up Host pleroma.wakuwakup.net
      header_up Origin https://pleroma.wakuwakup.net
      header_up X-Forwarded-Host pleroma.wakuwakup.net
      header_up X-Forwarded-Port 443
      header_up X-Forwarded-Proto https
    }
  }

  handle {
    root * /srv/pleroma.wakuwakup.net/pleroma-fe
    try_files {path} /index.html
    file_server
  }
}